.tabs {
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
  width: 90%;
  text-align: center;
  margin-top: 5vh;
  direction: rtl;
}

/* img {
  width: 300px;
} */

.tabs .tabbuttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 50px;
  border-bottom: 1px solid #c6a114;
}
 .button {
  margin-right: 15px;
  font-size: 20px;
  background: transparent;
  border: none;
  outline: none;
  padding: 10px 20px;
  cursor: pointer;
  color: white;
  transition: all ease-in-out 0.2s;
  border-bottom: 2px solid transparent;
  background-color: rgb(228, 90, 72);
}
.button:hover {
  background-color: rgb(255, 123, 0);
}
.tabs .active {
  border-bottom: 2px solid #f49842;

  color: black;
}
